.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    /* Single column on small screens */
}

@media (min-width: 768px) {

    /* Adjust breakpoint as needed */
    .form-grid {
        grid-template-columns: repeat(2, 1fr);
        /* Two columns on larger screens */
    }
}

.switch-field label {
    margin-left: 1rem;
    /* Space between switch and label */
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.map-icon {
    color: white;
    text-align: center;
}

.map-icon:hover {
    color: rgb(82, 28, 191);
    cursor: pointer;
    scale: 1.3;
    transition: all 0.3s ease;
}