.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    /* Single column on small screens */
}


.column-id {
    display: none;
    color: red;
}



/* @media (min-width: 768px) {

    .column-status,
    .column-phoneNumber,
    .column-serviceType,
    .column-userBlocked,
    .column-referralCode {
        display: none;
    }
} */

.text-hover-effect:hover {
    color: rgb(82, 28, 191);
    cursor: pointer;
    transition: all 0.3s ease;
}

@media (min-width: 768px) {

    .column-id {
        display: none;
        color: red;
    }

    /* Adjust breakpoint as needed */
    .form-grid {
        grid-template-columns: repeat(2, 1fr);
        /* Two columns on larger screens */
    }
}

.switch-field label {
    margin-left: 1rem;
    /* Space between switch and label */
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}